
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.body-login{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	background-color: rgb(25, 135, 84);
	overflow-x: hidden;
  height: 100vh;
}


